[buildout]
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
#    sysegg
    test
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    reinout-arduino
    reinout-arduino[test]


[versions]
# Specific pins
reinout-arduino =

# Reported by buildout.


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/nensskel.git


[test]
recipe = pbp.recipe.noserunner
eggs = ${buildout:eggs}
defaults = reinout-arduino


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
